.navbar, .navbar-dark, .navbar-default {
  background-color: #000000 !important; /* чёрный */
  border: none !important;
}

.navbar-brand {
  font-size: 1.7rem !important;
}

body, p, li, span, div{
  background: #000000 url("/media/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #D4D4D8 !important;
  font-family: "Helvetica, Arial, sans-serif" !important;
  font-size: 26px !important;
  font-weight: 400 !important;
  line-height: 1.7 !important;
}

.page, .content, .article, .card, .home-section, .container, section {
  background-color: transparent !important;
}

.mb-6.text-3xl.font-bold {
  font-size: 32px !important;
  font-weight: 700 !important;
  color: #D4D4D8 !important;
}

.mb-6.text-3xl.font-bold.text-gray-900.dark\:text-white {
  font-size: 32px !important;
  font-weight: 700 !important;
  color: #D4D4D8 !important;
  font-family: "Helvetica, Arial, sans-serif" !important;
}


.reports, .modules {
  background-color: #000000 !important;

}

h1 {
  font-family: "Helvetica, Arial, sans-serif" !important;
  font-size: 40px !important;
  font-weight: 700 !important;
  line-height: 1.3 !important;
  color: #D4D4D8 !important;
}

h2 {
  font-family: "Helvetica, Arial, sans-serif" !important;
  font-size: 32px !important;
  font-weight: 700 !important;
  line-height: 1.3 !important;
  color: maroon !important;
  text-shadow:
    1px  1px 0 #D4D4D8,
   -1px -1px 0 #D4D4D8,
    1px -1px 0 #D4D4D8,
   -1px  1px 0 #D4D4D8;
}

h3 {
  font-family: "Helvetica, Arial, sans-serif" !important;
  font-size: 28px !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;
  color: #D4D4D8 !important;
}

h4, h5, h6 {
  font-family: "Helvetica, Arial, sans-serif" !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;
  color: #D4D4D8 !important;
}
