h1, h3, h4, h5, h6 {
  color: #A1A1AA !important; 
}

h2 {
  color: maroon !important;
  text-shadow:
    1px 1px 0 #A1A1AA,
   -1px -1px 0 #A1A1AA,
    1px -1px 0 #A1A1AA,
   -1px 1px 0 #A1A1AA;

}
body {
    color: #A1A1AA; 
  font-family: "Helvetica, Arial, sans-serif" !important;
  font-size: 28px !important;
  font-weight: normal !important;
  line-height: 1.6 !important;
}