h2 {
  color: maroon !important;
  text-shadow:
    1px 1px 0 #71717A,
   -1px -1px 0 #71717A,
    1px -1px 0 #71717A,
   -1px 1px 0 #71717A;

}
body {
    color: #71717A; /* zinc-500 */
  font-family: "Helvetica, Arial, sans-serif" !important;
  font-size: 22px !important;
  font-weight: normal !important;
  line-height: 1.6 !important;
}